.x-form-item-label-default {
	color: #000000 !important;
}

.x-btn-inner-default-toolbar-small {
	color: #000000 !important;
}

.x-panel-header-title-default {
	font-size: 26px;
}

.x-panel-header-title-default {
	line-height: 26px;
}

.x-form-text-default, .x-toolbar-text-default, .x-boundlist-item, .x-form-item-label-default, .x-grid-item, .x-column-header {
    font: 300 26px/30px helvetica,arial,verdana,sans-serif;
}

.x-window-body-default {
	font-size: 22px;
}

.x-window-header-title-default {
	font-size: 24px;
	line-height: 24px;
}

.x-btn-inner-default-toolbar-small, .x-btn-inner-default-small {
	font: 300 22px/26px helvetica,arial,verdana,sans-serif;
}
