.icon-dashboard {
	background-image: url(../img/icons/dashboard.png) !important;
}

.icon-settings {
	background-image: url(../img/icons/settings.png) !important;
}

.icon-login {
	background-image: url(../img/icons/login.png) !important;
}

.icon-logout {
	background-image: url(../img/icons/logout.png) !important;
}

.icon-monitor {
	background-image: url(../img/icons/monitor.png) !important;
}

.icon-map {
	background-image: url(../img/icons/map.png) !important;
}

.icon-audit {
	background-image: url(../img/icons/audit.png) !important;
}

.icon-list {
	background-image: url(../img/icons/list.png) !important;
}

.icon-help {
	background-image: url(../img/icons/help.png) !important;
}

.icon-donate {
	background-image: url(../img/icons/donate.png) !important;
}
