body {
	margin: 0;
	padding: 0;
}

#wrapper {
	
}

#navigation {
	
}

#content {
	margin: 10px;
}

#footer {
	
}

#content #about-box {
	width: 670px;
	height: 300px;
	margin: 5% auto 0 auto;
	text-align: center;
}

#content #about-box #about-logo {
	margin: 0 0 0 15px;
}

#content #about-box #about-header {
	font-weight: bold;
}

#content #user-map {
	height: 500px;
}
