body {
	margin: 0;
	padding: 0;
}

#wrapper {
	
}

#navigation {
	
}

#content {
	margin: 10px 15px 25px 15px;
}

#content h3 {
	font-size: 20px;
}

#content p {
	font-size: 18px;
}

#content ul li {
	font-size: 18px;
}

#content table {
	font-size: 18px;
}

#footer {
	
}

table tr {
	text-align: left;
}

#content #about-box {
	width: 850px;
	height: 300px;
	margin: 5% auto 0 auto;
	text-align: center;
}

#content #about-box p {
	font-size: 16px;
}

#content #about-box #about-logo {
	margin: 0 0 0 15px;
}

#content #about-box #about-header {
	font-weight: bold;
}

#content #user-map {
	position: absolute;
	top: 50px;
	left: 0;
	bottom: 0;
	right: 0;
}
